<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109011676473-49tdahndnvuvl5hnlkmrt5hugmih8qe9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109011676473-49tdahndnvuvl5hnlkmrt5hugmih8qe9</string>
	<key>API_KEY</key>
	<string>AIzaSyDvARlSXUTwHoy37mRwWTR1Grb6YG27Uvw</string>
	<key>GCM_SENDER_ID</key>
	<string>109011676473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smeLab3Code</string>
	<key>PROJECT_ID</key>
	<string>sme-movies-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sme-movies-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109011676473:ios:a50d4265cf0ab603624ce8</string>
</dict>
</plist>